/* Version Mobil*/

@import "./_variables"

@mixin display-center($display, $alinear, $justificar, $text)
    display: $display
    align-items: $alinear
    justify-content: $justificar
    text-align: $text 

@mixin img($alto, $ancho, $radius)
    height: $alto
    width: $ancho
    border-radius: $radius

@mixin grid($grid, $template, $justificar, $column)
    display: $grid
    grid-template-rows: $template
    justify-content: $justificar 
    grid-template-columns: $column

@mixin iconos($bg, $bg-color: #fff, $radius, $bordertrans, $text-color: #fff, $font-size)
    background: $bg
    background-color: $bg-color
    border-radius: $radius
    border: $bordertrans
    color: $text-color
    font-size: 27px

*
    padding: 10px
    margin: 0px

html
    background-color: #335064
    background-size: cover
    -moz-background-size: cover
    -webkit-background-size: cover
    -o-background-size: cover
    font-family: 'Roboto', sans-serif

body
    border: 2px #fff solid
    border-radius: 20px
    background-color: #fff
    opacity: 93%
    background-size: cover

.img-main
    @include display-center($display, null, $justificar, null)

#img-main
    @include img(250px, 300px, null)
    border-radius: 100px
    border: 5px #000 solid

.titulo
    @include display-center($display, null, $justificar, null)
    
#titulo
    @include display-center(null, null, null, $text)
    font-weight: 400
    font-size: 55px

.sub-titulo
    @include display-center($display, null, $justificar, null)

#css
    color: blue

#html
    color: orange

#sass
    color: pink

#info
    @include display-center(null, null, null, $text)
    font-weight: 600
    font-size: 20px

.franja-proyecto
    background-color: #8d8888

#franja-proyecto
    @include display-center($display, $alinear, $justificar, $text)
    font-size: 20px

.proyectos
    @include grid($grid, $template, $justificar, null)    

.proyectouno
    @include display-center(none, null, $justificar, $text)
    flex-direction: column
.proyectodos
    @include display-center(none, null, $justificar, $text)
    flex-direction: column

.proyectotres
    @include display-center(none, null, $justificar, $text)
    flex-direction: column

.proyectounoimg
    @include display-center(none, null, $justificar, null)
    @include img(80%, 80%, null)      

.more
    @include grid($grid, 10% 10%, null, null)

.tres-barras
    @include display-center($display, null, $justificar, null)
    cursor: pointer

.text-pro
    @include display-center(none, null, null, null)

.franja-redes
    background-color: #8d8888

#franja-redes
    @include display-center($display, $alinear, $justificar, $text)
    font-size: 32px

.contacto
    @include grid($grid, null, $justificar, $column)
    

#formulario
    background: none
    @include img(null, 100%, $radius)
    @include display-center($display, null, null, null)
    
.formulario
    @include grid($grid, 50% 50%, $justificar, null)
    
.input-main
    @include display-center($display, $alinear, null, null)
    flex-direction: column
    gap: 10px

.enviar
    @include img(null, 50%, $radius)
    @include display-center($display, $alinear, $justificar, $text)
    

.redes
    @include grid($grid, null, space-between, repeat(3,33%))
    @include display-center(null, $alinear, $justificar, $text)
    padding: 10px 0px
    gap: 20px

#ws
    @include iconos($bg, null, $radius, $bordertrans, #615f5f, $font-size)
    cursor: pointer
    
#ig
    @include iconos($bg, null, $radius, $bordertrans, #615f5f, $font-size)
    cursor: pointer

#git
    @include iconos($bg, null, $radius, $bordertrans, #615f5f, $font-size)
    cursor: pointer


     
@media only screen and (min-width: 768px)
         
    
    @mixin display-center($display, $alinear, $justificar, $text)
       display: $display
       align-items: $alinear
       justify-content: $justificar
       text-align: $text 

    @mixin img($alto, $ancho, $radius)
        height: $alto
        width: $ancho
        border-radius: $radius

    @mixin grid($grid, $template, $justificar, $column)
        display: $grid
        grid-template-rows: $template
        justify-content: $justificar 
        grid-template-columns: $column

    @mixin iconos($bg, $bg-color: #fff, $radius, $bordertrans, $text-color: #fff, $font-size)
        background: $bg
        background-color: $bg-color
        border-radius: $radius
        border: $bordertrans
        color: $text-color
        font-size: $font-size
    
    *
        padding: 10px
        margin: 0px
    
    html        
        background-color: #335064
        background-size: cover
        -moz-background-size: cover
        -webkit-background-size: cover
        -o-background-size: cover
        font-family: 'Roboto', sans-serif

    body
        border: 2px #fff solid
        border-radius: 20px
        background-color: #fff
        opacity: 93%
        background-size: cover
    
    .container
        @include grid($grid, null, null, 50% 50%)
        padding: 10px 0px 

    .informacion
        @include display-center($display, $alinear, $justificar, null)
        flex-direction: column
        height: 90vh
      
    .img-main
        @include display-center($display, $alinear, $justificar, null)
    
    #img-main
        @include img(250px, 400px, 100px)
        border: 5px #000 solid
    
    .titulo
        @include display-center($display, $alinear, flex-start, null)
        width: 100%
        
    #titulo
        font-weight: 400
        font-size: 60px  
        text-align: left      

    #css
        color: blue

    #html
        color: orange

    #sass
        color: pink            

    #info
        font-weight: 600
        font-size: 27px
        text-align: left

    .franja-proyecto
        background-color: #8d8888

    #franja-proyecto
        @include display-center($display, $alinear, $justificar, $text)
        font-size: 32px

    .proyectos
        @include grid($grid, null, space-between, repeat(3, 33%))    
        height: 92vh
        font-size: 32px

    .proyectouno
        @include display-center($display, null, $justificar, $text)
        flex-direction: column

    .proyectodos
       @include display-center($display, null, $justificar, $text)
       flex-direction: column

    .proyectotres
        @include display-center($display, null, $justificar, $text)
        flex-direction: column

    .proyectounoimg
        @include display-center($display, null, $justificar, null)
        @include img(20%, 80%, null)
        cursor: pointer    
    
    .more
        @include grid(none, null, null, null)

    .tres-barras
        @include display-center(none, null, null, null)

    .text-pro
        @include display-center(none, null, null, null)

    .franja-redes
        background-color: #8d8888

    #franja-redes
        @include display-center($display, $alinear, $justificar, $text)
        font-size: 32px
    
    .contacto
        height: 70vh        

    .formulario
        padding: 6% 0px        

    #formulario
        background: none

    .input-main
        @include display-center($display, $alinear, $justificar, null)
        flex-direction: column
        @include img(40px , 90%, $radius)  
        gap: 20px
    
    .enviar
        @include img(40px, 90%, $radius)
       
    .redes
        @include grid($grid, null, $justificar, repeat(3,33%))
        @include display-center(null, null, null, $text)
        padding: 0px
    
    #ws
        @include iconos($bg, null, $radius, $bordertrans, #615f5f, $font-size)
        cursor: pointer

        
    #ig
        @include iconos($bg, null, $radius, $bordertrans, #615f5f, $font-size)
        cursor: pointer


    #git
        @include iconos($bg, null, $radius, $bordertrans, #615f5f, $font-size)
        cursor: pointer


    

    
        
        
        