/* Version Mobil*/
@media only screen and (max-width: 768px) {
  * {
    padding: 10px;
    margin: 0px;
  }
  html {
    background: url(./../recursos/images.jpg) no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    font-family: "Martian Mono", monospace;
  }
  body {
    border: 2px #fff solid;
    border-radius: 20px;
    background-color: #fff;
    opacity: 93%;
    background-size: cover;
  }
  .logo {
    display: flex;
    justify-content: center;
    padding: 12px 0px;
  }
  #logo {
    height: 90px;
    width: 150px;
    border-radius: 50px;
    border: 1px #000 transparent;
  }
  .img-main {
    display: flex;
    justify-content: center;
  }
  #img-main {
    height: 250px;
    width: 300px;
    border-radius: 100px;
    border: 5px #000 solid;
  }
  .titulo {
    display: flex;
    justify-content: center;
  }
  #titulo {
    text-align: center;
    font-weight: 400;
  }
  .sub-titulo {
    display: flex;
    justify-content: center;
  }
  #info {
    text-align: center;
    font-weight: 600;
  }
  .proyectos {
    display: grid;
    grid-template-rows: 100%;
    justify-content: center;
  }
  .proyectouno {
    display: none;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  .proyectodos {
    display: none;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  .proyectotres {
    display: none;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  .proyectounoimg {
    display: none;
    justify-content: center;
    height: 80%;
    width: 80%;
  }
  .more {
    display: grid;
    grid-template-rows: 10% 10%;
  }
  .tres-barras {
    display: flex;
    justify-content: center;
  }
  .text-pro {
    text-align: center;
    font-weight: 400;
  }
  .contacto {
    display: grid;
    justify-content: center;
    grid-template-columns: 100%;
  }
  #formulario {
    background: none;
    width: 100%;
    border-radius: 50px;
    display: flex;
  }
  .formulario {
    display: grid;
    grid-template-rows: 50% 50%;
    justify-content: center;
  }
  .imput-main {
    display: flex;
    gap: 3px;
  }
  .enviar {
    width: 112%;
    border-radius: 50px;
  }
  .redes {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 33%);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 0px;
    gap: 20px;
  }
  .ws {
    font-size: 30px;
  }
  .ig {
    font-size: 30px;
  }
  .git {
    font-size: 30px;
  }
  #ws {
    background: none;
    background-color: #7ce37c;
    border-radius: 50px;
    border: transparent;
    color: #fff;
  }
  #ig {
    background: none;
    background-color: #ec3cc6;
    border-radius: 50px;
    border: transparent;
    color: #fff;
    background: linear-gradient(16deg, #ec3cc6 0%, #f9d305 25%, #d075f2 60%, #eb41ee 100%);
  }
  #git {
    background: none;
    background-color: #3f0a52;
    border-radius: 50px;
    border: transparent;
    color: #fff;
  }
}
@media only screen and (min-width: 768px) {
  * {
    padding: 10px;
    margin: 0px;
  }
  html {
    background: url(./../recursos/images.jpg) no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    font-family: "Martian Mono", monospace;
  }
  body {
    border: 2px #fff solid;
    border-radius: 20px;
    background-color: #fff;
    opacity: 93%;
    background-size: cover;
  }
  .logo {
    display: flex;
    justify-content: right;
    padding: 4px 40px;
  }
  #logo {
    height: 90px;
    width: 150px;
    border-radius: 50px;
    border: 1px #000 transparent;
  }
  .container {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 25px 0px;
  }
  .informacion {
    display: grid;
    grid-template-rows: 50% 50%;
  }
  .img-main {
    display: flex;
    justify-content: center;
  }
  #img-main {
    height: 250px;
    width: 400px;
    border-radius: 100px;
    border: 5px #000 solid;
  }
  .titulo {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
  }
  #titulo {
    font-weight: 400;
  }
  .sub-titulo {
    display: flex;
    justify-content: center;
  }
  #info {
    font-weight: 600;
  }
  .proyectos {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 33%);
  }
  .proyectouno {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  .proyectodos {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  .proyectotres {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  .proyectounoimg {
    display: flex;
    justify-content: center;
    height: 80%;
    width: 80%;
  }
  .more {
    display: none;
  }
  .tres-barras {
    display: none;
  }
  .text-pro {
    display: none;
  }
  .contacto {
    display: flex;
    flex-direction: column;
  }
  #formulario {
    width: 80%;
    border-radius: 50px;
    background: none;
  }
  .formulario {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .imput-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3px;
  }
  .enviar {
    width: 85%;
    border-radius: 50px;
  }
  .redes {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 33%);
    align-items: center;
    text-align: center;
    padding: 10px 0px;
    gap: 12px;
  }
  .ws {
    font-size: 30px;
  }
  .ig {
    font-size: 30px;
  }
  .git {
    font-size: 30px;
  }
  #ws {
    background: none;
    background-color: #7ce37c;
    border-radius: 50px;
    border: transparent;
    color: #fff;
  }
  #ig {
    background: none;
    background-color: #ec3cc6;
    border-radius: 50px;
    border: transparent;
    color: #fff;
    background: linear-gradient(16deg, #ec3cc6 0%, #f9d305 25%, #d075f2 60%, #eb41ee 100%);
  }
  #git {
    background: none;
    background-color: #3f0a52;
    border-radius: 50px;
    border: transparent;
    color: #fff;
  }
}/*# sourceMappingURL=globla.css.map */